#name{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;

}
#init{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;

}
#city{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;

}